body {
  background-color: black;
  margin: 0;
}

.block {
  padding: 10px;
  border: 1px solid #e75551;
}

.blue {
  margin: 20px 20px 40px;
  background-color: #308dc0;
  width: 350px;
  box-sizing: border-box;
}

.orange {
  background-color: #ffa500;
}

.white {
  background-color: #ddd;
}
